<% if @albums.any? %>
<div class="albums-header">
  <a href="<%= request.referrer%>">
    <span class="back-arrow glyphicon glyphicon-menu-left" aria-hidden="true"></span>
  </a>
  Albums
</div>
<div id="album-coverflow">
  <ul>
    <% @albums.each do |album| %>
      <li data-tracks-path="/albums/<%= album.album_id %>">
        <img src="<%= album.album_coverart_100x100 %>">
      </li>
    <% end %>
  </ul>
</div>
<div id="album-tracks" class="table-responsive">
</div>
<% else %>
  <div class="text-center">
    Sorry, no albums were found for this artist. <%= link_to "Back", request.referrer %>
  </div>
<% end %>
