<table class="table table-hover album-tracks">
  <thead>
    <tr>
      <th colspan="2" class="album-title">
        <%= @tracks.first.album_name unless @tracks.blank? %>
        <span class="buy-link">BUY ALBUM</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td style="border-top: none;">
          <img src="<%= track.cover_art %>" width="50px" height="50px">
          <div class="track-details">
            <b><%= track.name %></b><br />
            <small><%= time_in_seconds_and_minutes(track.length) %></small>
          </div>
          <span class="buy-link">BUY</span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
