.albums-header {
  background-color: #43acfb;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  line-height: 23px;

  a, a:hover, a:focus {
    color: #FFF;
  }

  .back-arrow {
    line-height: 23px;
    float: left;
  }
}

#album-coverflow {
  background-color: #222;
  color: #FFF;
}

.album-title {
  text-align: left;
  background-color: #D3D3D3;
  font-weight: 500;
}

.track-details {
  display: inline-block;
}

.buy-link {
  color: #43acfb;
  float: right;
  font-weight: 500;
}
