input::-webkit-input-placeholder {
  color: #FFF !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: #FFF !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: #FFF !important;
}

input:-ms-input-placeholder {
  color: #FFF !important;
}

.navbar-form.main-nav-search-form {
  box-shadow: none;
  border-bottom: none;
  border-top: none;
}

.main-nav-search-input {
  font-size: 20px;
  border: 0px;
  background-color: #222 !important;
  color: #FFF !important;
  box-shadow: none !important;
}

.main-nav-search-button {
  font-size: 20px;
  border: 0px;
  background-color: #222 !important;
  color: #43acfb !important;
  outline: none !important;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 80%;
  height: 75%;
  min-width: 200px;
  max-width: 1200px;
}
