<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header pull-left" style="margin-top: 6px;">
      <form action="/search" method="GET" class="form-horizontal main-nav-search-form" role="search">
        <div class="input-group">
          <input type="text" value="<%= cookies[:artist_name] %>" name="artist_name" class="form-control main-nav-search-input" placeholder="Artist name">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-default main-nav-search-button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>
